@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');



*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #e64b30);
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(140px, auto) repeat(5, 120px);   
}

.grid-container > button {
    cursor: pointer;
    outline: none;
    font-size: 2rem;
    border: 1px solid white;
    background-color: rgba(153, 158, 158, .75);
}

#operationBtn {
    background-color: rgba(240, 146, 46, .75);
}

#operationBtn:hover {
    background-color: rgba(252, 187, 118, 0.75);;
}

#btnNum {
    background-color: rgba(115, 121, 121, 0.75);
}

#btnNum:hover {
    background-color: rgba(184, 191, 191, .9);
} 

.grid-container >button:hover {
    background-color: rgba(184, 191, 191, .9);
}

.acBtn, .equalsBtn {
    grid-column: span 2;
}

.output-container {
    background-color: rgba(0, 0, 0, .75);
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    color: white;
    font-size: 3rem;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid black;
}

.previous-output {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}



